<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body class="max-w-full h-96 flex items-center justify-center">
    <main class=" max-w-screen-md h-60 flex items-center justify-center flex-col p-8 gap-5 border rounded-xl shadow-md">
        <h1 class=" text-3xl font-bold text-black-800">Work fast from anywhere</h1>
        <p class="text-gray-600 text-lg justify-center items-center text-center">Stay up to date and move work forward with Flowbite on iOS & Android. Download the app today.</p>
        <div class="flex gap-4">
            <button><img src="../../assets/images/play-store.png" alt="Botão Play store"></button>
            <button><img src="../../assets/images/apple-store.png" alt="Botão Apple Store"></button>
        </div>
       
    </main>
</body>
</html>