<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="container h-100% w-100%">
    <div class="flex space-x-10 ">

    <h3 class="rounded-md h-100px w-57px bg-red-400 text-red-800">Badge</h3>

    <h3 class="rounded-md h-32px w-57px bg-blue-400 text-blue-800">Badge</h3>

    <h3 class="rounded-md h-32px w-57px bg-purple-400 text-purple-800">Badge</h3>
    
    <h3 class="rounded-md h-32px w-57px bg-green-100 text-green-800">Badge</h3>
    </div>
</body>
</html>