<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tailwind de Domingo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style/global.css">
</head>
<body class= "p-50 m-20">
    <div class=" flex justify-center self-auto text-end  font-sans gap-x-10 gap-y-4  lex space-x-6 "> 
        <button type="button" class="  rounded-lg  bg-gray-50 hover:underline  p-2 text-stone-300 text-left"  >Button</button>
        <button type="button" class=" rounded-lg bg-rose-50 hover:underline   p-3 text-red-600/100 text-left">Button</button>
        <button type="button" class=" rounded-lg  bg-amber-100 hover:underline p-3 text-amber-300 text-left">Button</button>
        <button type="button" class=" rounded-lg  bg-green-100 hover:underline p-3 text-lime-400 text-left">Button</button>
        <button type="button" class=" rounded-lg  bg-cyan-400 hover:underline  p-3 text-cyan-200 text-left">Button</button>
        <button type="button" class=" rounded-lg  bg-purple-500 hover:underline p-3 text-violet-200 text-left">Button</button>
        <button type="button" class=" rounded-lg  bg-rose-50 hover:underline  p-3 text-left">Button</button>
    </div>
</body>
</html>