<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Talwind Samuel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style/global.css">

</head>

<body class="p-10 ">


    <div class="p-5  rounded text-center bg-gray-100">CINZA</div>
    <br>
    <div class="p-5   rounded text-center bg-green-100 text-green-800"> VERDE </div>
    <br>
    <div class="p-5   rounde-full text-center bg-red-100 text-red-800"> VERMELHO CLARO </div>
    <br>
    <div class="p-5   rounded text-center bg-yellow-100 text-yellow-800"> AMARELO CLARO </div>
    <br>
    <div class="p-5   rounded text-center bg-pink-100 text-pink-800"> ROSA CLARO </div>
    <br>
    <div class="p-5   rounded text-center bg-blue-100 text-blue-800"> AZUL CLARO </div>
    <br>
    <div class="p-5   rounded text-center bg-indigo-100 text-indigo-800"> INDIGO </div>
    <br>
    <div class="p-5   rounded text-center bg-purple-100 text-purple-800"> ROXO </div>
    <br>
    <div class="p-5   rounded text-center bg-red-700 text-white"> VERMELHO </div>
<br><br><br>
<div class="flex flex-row gap-10 justify-center ">
    <div class="w-9 h-26 text-center border rounded-full  bg-gray-500">100</div><br>
    <div class="w-9 h-26 text-center border rounded-full  bg-green-500 text-green-200">200</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-red-500 text-red-800">300</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-yellow-500 text-yellow-200">400</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-pink-500 text-pink-200">500</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-gray-500 text-gray-200">600</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-blue-500 text-blue-200">700</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-indigo-500 text-indigo-200">800</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-purple-500 text-purple-200">900</div><br>
    <div class="w-8 h-26 text-center border rounded-full  bg-red-700 text-white">99+</div><br>
</div>
    

</body>

</html>